.about {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .about {
        flex-wrap: nowrap; 
        gap: 54px; 

        margin-top: 30px;
    }
 }


@media screen and (min-width: 1280px) {
    .about {
        gap: 90px;

        margin-top: 26px;
    }
}

.about__text {
    letter-spacing: 0;

    width: 288px;
    height: 140px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;

    color: var(--dark-cl);
}

@media screen and (min-width: 768px) {
    .about__text {
        width: 322px;
        height: 168px;

        font-size: 20px;
        /* width: 322px;
        height: 168px;
        left: 0px;
        top: 110px;
        margin-top: 56px;
        margin-right: 54px;

        font-size: 20px;
        line-height: 1.2; */
    }
}

@media screen and (min-width: 1280px) {
    .about__text {
        width: 510px;
        height: 135px;

        font-size: 22px;
        /* width: 510px;
        height: 135px;
        left: 0px;
        top: 174px;
        margin-top: 120px;
        margin-right: 90px;
        
        font-size: 22px;
        line-height: 1.2; */
    }
}