.slick {
  padding-bottom: 100px;
}
.slick__list {
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
  padding-bottom: 68px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .slick__list {
    padding-bottom: 87px;
  }
}

@media screen and (min-width: 1280px) {
  .slick__list {
    padding-bottom: 103px;
  }
}

.slick__item {
  margin-left: 8px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .slick__item {
    margin-left: 16px;
    margin-right: 16px;
  }
}
.slick__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 181px;
  margin: 0 auto;

  font-size: 58px;
}
@media screen and (min-width: 768px) {
  .slick__box {
    width: 344px;
    height: 398px;
  }
}
@media screen and (min-width: 1280px) {
  .slick__box {
    width: 390px;
    height: 421px;
  }
}

.my-slick-prev,
.my-slick-next {
  position: absolute;

  background-color: var(--dark-cl);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 5px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
  border: none;
  color: var(--dark-cl);
  background-color: transparent;
}

.my-slick-prev {
  width: 67px;
  height: 67px;
  bottom: 0px;
  left: 25%;
}

@media screen and (min-width: 768px) {
  .my-slick-prev {
    bottom: 0px;
    left: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .my-slick-prev {
    left: 40%;
  }
}

.my-slick-next {
  width: 67px;
  height: 67px;
  bottom: 0px;
  right: 25%;
}

@media screen and (min-width: 768px) {
  .my-slick-next {
    bottom: 0px;
    right: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .my-slick-next {
    right: 40%;
  }
}

.blog-title {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .blog-title {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .blog-title {
    margin-bottom: 122px;
  }
}

.blog-title::after {
  content: '';
  display: block;
  width: calc(100vw - 3%);

  height: 2px;
  background-color: var(--dark-cl);
}

.blog-subtitle {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .blog-subtitle {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 1.21;
  }
}

.slick_arrow {
  width: 67px;
  height: 67px;
}
