.footer{
    background-color: #000000;
    padding-top: 32px;
    padding-bottom: 32px;
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
    
}

.footer-logo{
    display: none;
}
.footer-title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.footer-title-navigation{
    width: 144px;
}
.footer-text-ul{
    display: flex;
flex-direction: column;
    gap: 12px;
}

.footer-text{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #FFFFFF;
    width: 88px;
}
.footer-box-navigation-type{
    /* width: 100%; */
    display: flex;
    /* justify-content: space-between; */
    column-gap: 50px;
}
.footer-box-contacts-icon{
    display: flex;
    gap: 32px;
}
.footer-text-email{
    display: flex;
    flex-direction: column;
}

.footer-box-contacts{
    width: 140px;
}
.footer-icon{
    fill: #FFFFFF;
}
.footer-icon-link{
    display: block;
}
.footer-box-icons{
    display: flex;
    gap: 14px;
}

@media screen and (min-width:768px) {
    .footer{
        padding-top: 60px;
        padding-bottom: 54px;
    }
    .container-footer{
        flex-wrap: nowrap;
        
        justify-content: space-between;
    }
    .footer-box-navigation-type{
        width: auto;
        column-gap: 44px;
    }
    .footer-text-email{
        flex-direction: row;
    }
    .footer-box-contacts{
        width: 236px;
    }
    .footer-text-adress{
        width: 147px;
        display: block;
    }
    .footer-box-contacts-icon{
        gap: 64px;
    }
    .footer-box-icons{
        flex-direction: column;
        gap: 18px;
    }
}


@media screen and (min-width:1280px) {
     .footer{
        padding-top: 72px;
        padding-bottom: 72px;
     }
     .footer-box-logo-navigation-type{
        display:flex;
     }
     .footer-logo{
        display: block;
        fill: #FFFFFF;
        margin-right: 210px;
     }

     .container-footer{
        column-gap: 96px;
        justify-content: flex-start;
    }

    .footer-title-navigation{
        width: 116px;
    }
    .footer-box-navigation-type{
        gap: 96px;
    }
    .footer-box-contacts-icon{
        gap: 206px;
    }
} 


