/* mobile */
.hero {
    position: relative;
    max-width: 320px;
    margin: 15px auto;
}

.hero-container {
    position: relative;
    z-index: 10;
    height: 389px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    position: absolute;
    bottom: 0;
    font-weight: 400;
    font-size: 52px;
    line-height: calc(63 / 52);
    left: 5%;
}

.hero-title::after {
    content: '';
    position: absolute;
    background-color: currentColor;
    width: 20px;
    height: 2px;
    right: 7px;
    top: 5px;
}

.hero-badge {
    width: 46px;
    margin-left: 11px;
    height: 34px;
    left: 11px;
    top: 209px;
    font-weight: 400;
    line-height: calc(17 / 14);
    animation: vertical-slide 1000ms ease-out 1000ms both;
}

.hero-btn {
    width: 64px;
    height: 76px;
    background-color: transparent;
    border: none;
    
}

.hero-shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    animation: scale-up-center 1000ms ease-out 1000ms both;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



/* Table */
@media screen and (min-width: 768px) {
    .hero {
            position: relative;
            max-width: 720px;
            margin: 24px auto;
        }
    
        .hero-container {
            position: relative;
            z-index: 10;
            height: 825px;
    
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        .hero-title {
            position: absolute;
            bottom: 0;
            font-weight: 400;
            font-size: 120px;
            line-height: 146px;
            text-align: center;
        }
    
        .hero-title::after {
            content: '';
            position: absolute;
            background-color: currentColor;
            width: 20px;
            height: 2px;
            right: 7px;
            top: 5px;
        }
    
        .hero-badge {
            width: 76px;
                margin-left: 49px;
                font-size: 24px;
                line-height: calc(29 / 24);
        }
    
        .hero-btn {
            width: 145px;
            height: 150px;
            left: 575px;
            top: 357px;
            background-color: transparent;
            border: none;
    
        }
    
        .hero-shape {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            animation: scale-up-center 1000ms ease-out 1000ms both;
        }
    
        .hero-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        
        
        
}

/* Desktop */
@media screen and (min-width: 1280px) {
.hero {
    position: relative;

    max-width: 1280px;
    height: 878px;
    margin: 0 auto;
}

.hero-container {
    position: relative;
    z-index: 10;
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    font-weight: 400;
    font-size: 160px;
    line-height: calc(195 / 160);

    animation: move-vertical 1000ms ease-out 1000ms both;
}

.hero-title::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 21px;

    width: 58px;
    height: 8px;
    background-color: currentColor;
}

.hero-badge {
    width: 102px;
    margin-left: 210px;
    font-size: 32px;
    line-height: 39px;

    animation: move-vertical 1000ms ease-out 1000ms both;
}

.hero-btn {
    width: 166px;
    height: 166px;
    margin-right: 145px;
    animation: move-vertical 1000ms ease-out 1000ms both;
}

[href="./img/icons/sprite.svg#btn-txt"] {
    transform-origin: center;
    animation: infinity-rotate 30s linear 4s infinite;
}

.hero-btn:hover [href="./img/icons/sprite.svg#btn-txt"],
.hero-btn:focus [href="./img/icons/sprite.svg#btn-txt"] {
    animation-play-state: paused;
}

[href="./img/icons/sprite.svg#btn-arrow"] {
    transform-origin: center;
    transition: transform 500ms ease-out;
}

.hero-btn:hover [href="./img/icons/sprite.svg#btn-arrow"],
.hero-btn:focus [href="./img/icons/sprite.svg#btn-arrow"] {
    transform: rotate(-122deg);
   }

.hero-shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 100%;

    animation: scale-up-center 1000ms ease-out 1000ms both;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* animations properties */

@media screen and (min-width: 1280px) {
@keyframes scale-up-center {
    0% {
        clip-path: inset(150px 421px 92px 421px round 226px);
    }

    50% {
        clip-path: inset(150px 345px 92px 345px round 226px);
    }

    100% {
        clip-path: inset(0 round 0);
    }
}

@keyframes move-vertical {
    from {
        transform: translateX(var(--shift-from-x, -50%)) translateY(var(--shift-from-y, 0));
    }

    to {
        transform: translateX(var(--shift-to-x, -50%)) translateY(var(--shift-to-y, 0));
        color: #fff;
        fill: #fff;
    }
}
}

@keyframes infinity-rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0);
    }
}
} 

.hero-icon {
    display: block;
    width: 64px;
    height: 76px;
}

@media screen and (min-width: 768px) {
    .hero-icon {
        width: 145px;
        height: 150px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-icon {
        width: 166px;
        height: 166px;
    }
}