<section class="section-about">
    <div class="container">
        <h3 class="title">
            About
        </h3>
        
        <div class="">
            <p class="section-about__text">
                We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give people the beauty
                and joy
                creating stylish and modern masterpieces. Every bouquet we create is unique as you are.
            </p>
        </div>
        
        <div class="section-about__image">
            <img srcset="" 
            srcset=""
             src=""
             alt="flowers" />
        </div>   
    </div>


</section>