<section class="section section_about">
    <div class="container">
        <h3 class="title">About</h3>
        <div class="about">
          <p class="about__text">
            We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give people the
            beauty and joy creating stylish and modern masterpieces. Every bouquet we create is unique as you are.
          </p>

          <picture>
            <source srcset="../img/about/about_img_mob_288px.webp 288w, ../img/about/about_img_mob_576px.webp 576w"
              media="(min-width: 320px)" type="image/webp">
          
            <source srcset="../img/about/about_img_mob_288px.jpg 288w, ../img/about/about_img_mob_576px.jpg 576w"
              media="(min-width: 320px)">
          
            <source srcset="../img/about/about_img_tabl_344px.webp 344w, ../img/about/about_img_tabl_688px.webp 688w"
              media="(min-width: 768px)" type="image/webp">
          
            <source srcset="../img/about/about_img_tabl_344px.jpg 344w, ../img/about/about_img_tabl_688px.jpg 688w"
              media="(min-width: 768px)">
          
            <source srcset="../img/about/about_img_desk_632.webp 632w, ../img/about/about_img_desk_1264.webp 1264w"
              media="(min-width:1200px)" type="image/webp">
          
            <source srcset="../img/about/about_img_desk_632.jpg 632w, ../img/about/about_img_desk_1264.jpg 1264w"
              media="(min-width:1200px)">
          
            <img class="about__image" src="../img/about/about_img_mob_288px.webp" alt="flowes" />
          </picture>
        </div>

              
    </div>

</section>