<section class="sectiom-about">
    <div class="container">
        <h3 class="title">About</h3>

        <div>
            <p class="sectiom-about__text">
                We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give people the
                beauty and joy creating stylish and modern masterpieces. Every bouquet we create is unique as you are.
            </p>

        </div>
            <picture>
                <source srcset="
                    ./src/img/Icons/images/about/about_img_desk_632.webp 1x,
                    ./src/img/Icons/images/about/about_img_desk_1264.webp 2x
    
                  " media="(min-width:1200px)" type="image/webp" />

                <source srcset="
                    ./src/img/Icons/images/about/about_img_desk_632.jpg 1x,
                    ./src/img/Icons/images/about/about_img_desk_1264.jpg 2x
                  " media="(min-width:1200px)" />
            
                <source srcset="
                    ./src/img/Icons/images/about/about_tabl_344.webp 1x,
                    ./src/img/Icons/images/about/about_tabl_688.webp 2x
                    
                  " media="(min-width: 768px)" type="image/webp" />

                <source srcset="
                    ./src/img/Icons/images/about/about_tabl_344.jpg 1x,
                    ./src/img/Icons/images/about/about_tabl_688.jpg 2x
                  " media="(min-width: 768px)" />
            
                <source srcset="
                    ./src/img/Icons/images/about/about_mob_288.webp 1x,
                    ./src/img/Icons/images/about/about_mob_576.webp 2x
                  " media="(min-width: 320px)" type="image/webp" />

                <source srcset="
                    ./src/img/Icons/images/about/about_mob_288.jpg 1x,
                    ./src/img/Icons/images/about/about_mob_576.jpg 2x
                  " media="(min-width: 320px)" />
            
                <img class="" src="/src/img/Icons/images/about/about_img_desk_1264.jpg" alt="flowes" />

            </picture>

    </div>

</section>