<section class="section">
  <div class="container">

    <h3 class="title">BLOG</h3>

    <div class="slick__list responsive list">
      <div class="slick__item">
        <img
          class="slick__box"
          src="/img/blog/blog_img_desk_1_390px.jpg"
          alt=""
          width="136px"
          height="181px"
        />
      </div>
      <div class="slick__item">
        <div class="slick__box">Img2</div>
      </div>
      <div class="slick__item">
        <div class="slick__box">Img3</div>
      </div>
      <div class="slick__item">
        <div class="slick__box">Img4</div>
      </div>
      <div class="slick__item">
        <div class="slick__box">img5</div>
      </div>
    </div>

    <p class="blog-subtitle">Follow to our newsletter</p>
    <button class="blog-btn button" type="button">Subscribe</button>

  </div>
</section>
