<section class="section-blog">
  <div class="container">

    <h2 class="section-title">BLOG</h2>

    <div class="slick__list responsive list">
        <div class="slick__item">
          <div class="slick__box">Img1</div>
        </div>
        <div class="slick__item">
          <div class="slick__box">Img2</div>
        </div>
        <div class="slick__item">
          <div class="slick__box">Img3</div>
        </div>
        <div class="slick__item">
          <div class="slick__box">Img4</div>
        </div>
        <div class="slick__item">
          <div class="slick__box">img5</div>
        </div>
        
      </div>
        <button
          type="button"
          class="my-slick-next slick-arrow"
          style="display: flex"
        >
          ⟶
        </button>
      </div>

      <p class="blog-subtitle">Follow to our newsletter</p>
      <button class="blog-btn button" type="button">Subscribe</button>
    </div>
  </div>
</section>
