<section class="section">
  <div class="container">
    <h3 class="title blog-title">BLOG</h3>

    <div class="slick__list responsive list">
      <div class="slick__item">
        <img
          class="slick__box"
          srcset="
            ./img/blog/blog_img_mob_1_136px.webp  136w,
            ./img/blog/blog_img_mob_1_272px.webp  272w,
            ./img/blog/blog_img_desk_1_390px.webp 390w,
            ./img/blog/blog_img_desk_1_780px.webp 780w,
            ./img/blog/blog_img_tabl_1_344px.webp 344w,
            ./img/blog/blog_img_tabl_1_688px.webp 688w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 136px, 100vw"
          alt=""
          src="../img/blog/blog_img_desk_1_390px.jpg"
        />
      </div>
      <div class="slick__item">
        <img
          class="slick__box"
          srcset="
            ./img/blog/blog_img_mob_2_136px.webp  136w,
            ./img/blog/blog_img_mob_2_272px.webp  272w,
            ./img/blog/blog_img_desk_2_390px.webp 390w,
            ./img/blog/blog_img_desk_2_780px.webp 780w,
            ./img/blog/blog_img_tabl_2_344px.webp 344w,
            ./img/blog/blog_img_tabl_2_688px.webp 688w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 136px, 100vw"
          alt=""
          src="../img/blog/blog_img_desk_2_390px.jpg"
        />
      </div>
      <div class="slick__item">
        <img
          class="slick__box"
          srcset="
            ./img/blog/blog_img_mob_3_136px.webp  136w,
            ./img/blog/blog_img_mob_3_272px.webp  272w,
            ./img/blog/blog_img_desk_3_390px.webp 390w,
            ./img/blog/blog_img_desk_3_780px.webp 780w,
            ./img/blog/blog_img_tabl_3_344px.webp 344w,
            ./img/blog/blog_img_tabl_3_688px.webp 688w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 136px, 100vw"
          alt=""
          src="../img/blog/blog_img_desk_3_390px.jpg"
        />
      </div>
      <div class="slick__item">
        <img
          class="slick__box"
          srcset="
            ./img/blog/blog_img_mob_4_136px.webp  136w,
            ./img/blog/blog_img_mob_4_272px.webp  272w,
            ./img/blog/blog_img_desk_4_390px.webp 390w,
            ./img/blog/blog_img_desk_4_780px.webp 780w,
            ./img/blog/blog_img_tabl_4_344px.webp 344w,
            ./img/blog/blog_img_tabl_4_688px.webp 688w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 136px, 100vw"
          alt=""
          src="../img/blog/blog_img_desk_4_390px.jpg"
        />
      </div>
      <div class="slick__item">
        <img
          class="slick__box"
          srcset="
            ./img/blog/blog_img_mob_5_136px.webp  136w,
            ./img/blog/blog_img_mob_5_272px.webp  272w,
            ./img/blog/blog_img_desk_5_390px.webp 390w,
            ./img/blog/blog_img_desk_5_780px.webp 780w,
            ./img/blog/blog_img_tabl_5_344px.webp 344w,
            ./img/blog/blog_img_tabl_5_688px.webp 688w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 136px, 100vw"
          alt=""
          src="../img/blog/blog_img_desk_5_390px.jpg"
        />
      </div>
      <div class="slick__item">
        <img
          class="slick__box"
          srcset="
            ./img/blog/blog_img_mob_6_136px.webp  136w,
            ./img/blog/blog_img_mob_6_272px.webp  272w,
            ./img/blog/blog_img_desk_6_390px.webp 390w,
            ./img/blog/blog_img_desk_6_780px.webp 780w,
            ./img/blog/blog_img_tabl_6_344px.webp 344w,
            ./img/blog/blog_img_tabl_6_688px.webp 688w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 319px) 136px, 100vw"
          alt=""
          src="../img/blog/blog_img_desk_6_390px.jpg"
        />
      </div>
    </div>

    <p class="blog-subtitle">Follow to our newsletter</p>
    <button class="blog-btn button js-open-modal" data-modal="2" type="button">
      Subscribe
    </button>
  </div>
</section>
