<section class="section delivery">
  <div class="container"> 

      <h3 class="title delivery">DELIVERY</h3>

      <ul class="list-deliver">
          <li class="item-delivery"><span class="in-item"> Choose your bouquet and make an order on website</span></li>
          <li class="item-delivery"><span class="in-item"> Wait for the call to clarify the details of the order. You can pay online or to the courier</span></li>
          <li class="item-delivery"><span class="in-item"> Wait for the delivery at the selected time or pick up the order from the store </span></li> 
          <li class="item-delivery"><span class="in-item"> Make someone happy or enjoy yourself</span></li>
      </ul>

   </div>   
    <div class="delivery-picture"> 
        <picture>
                <source
                srcset="../img/delivery/delivery_img_desk_1280px.jpg 1x, ../img/delivery/delivery_img_desk_2560px.jpg 2x"
                media="(min-width: 1280px)" 
                /> 
                <source
                srcset="../img/delivery/delivery_img_tabl_768px.jpg 1x, ../img/delivery/delivery_img_tabl_1536px.jpg 2x"
                media="(min-width: 768px)" 
                />
                <source
                srcset="../img/delivery/delivery_img_mob_320px.jpg 1x, ../img/delivery/delivery_img_mob_640px.jpg 2x"
                media="(max-width: 767px)" 
                />     
                <img class="delivery-img" 
                srcset="../img/delivery/delivery_img_desk_1280px.jpg 1x, ../img/delivery/delivery_img_desk_2560px.jpg 2x"       
                src="../img/delivery/delivery_img_desk_1280px.jpg" 
                alt="picture with flowers"        
                /> 
        </picture> 
     </div>                
</section>
