<section class="section delivery">
    <div class="container">        
    <h3 class="subtitle">DELIVERY</h3>
    <ul class="list">
        <li class="delivery item">Choose your bouquet and make an order on website</li>
        <li class="delivery item">Wait for the call to clarify the details of the order.
You can pay online or to the courier</li>
        <li class="delivery item">Wait for the delivery at the selected time or 
pick up the order from the store </li>
        <li class="delivery item">Make someone happy or enjoy yourself</li>
    </ul>
    </div>    
     <img class="delivery-img"
        srcset="/src/delivery-img"
        src="/src/delivery-img" 
        alt=""
        width
         />  
         
        <img src="../img/blog/blog_img_desk_1_390px.jpg" alt="">
         
</section>
