<section class="section delivery">
    <div class="container">        
    <h2 class="subtitle">DELIVERY</h2>
    <ol class="list">
        <li class="item">Choose your bouquet and make an order on website</li>
        <li class="item">Wait for the call to clarify the details of the order.
You can pay online or to the courier</li>
        <li class="item">Wait for the delivery at the selected time or 
pick up the order from the store </li>
        <li class="item">Make someone happy or enjoy yourself</li>
    </ol>
    </div>    
     <img class="delivery-img"
        srcset=""
        src="" 
        alt=""
        width
         />  
         
        <img src="../img/blog/blog_img_desk_1_390px.jpg" alt="">
         
</section>
