<footer class="footer">
    <a href="#"><svg width="73" height="57"><use href="../img/Icons/sprite.svg#icon-logo" ></use></svg></a>
      <h4>Navigation</h4>
         <nav>
             <ul>
                 <li><a href="#">Anemone</a></li>
                 <li><a href="#">About us</a></li>
                 <li><a href="#">Store</a></li>
                 <li><a href="#">Delivery</a></li>
             </ul>
         </nav>
     <h4>Opening times</h4>
     <p>Every day 9:00 - 22:00</p>
     <h4>Contacts</h4>
     <ul>
         <li><a href="tel:+380631234567">+38 063 123 45 67</a></li>
         <li><a href="mailto:anemonestudio@example.com">anemonestudio@example.com</a></li>
         <li><address><a href="#">Reitarska Street, 11 Kyiv, Ukraine</a></address></li>
     </ul>
        <a href="#"><svg width="28" height="28"><use href="../img/Icons/sprite.svg#icon-instagram"></use></svg></a>
        <a href="#"><svg width="28" height="28"><use href="../img/Icons/sprite.svg#icon-facebook"></use></svg></a>
 </footer>