<footer class="footer">
    <div class="container container-footer">
        <div class="footer-box-logo-navigation-type">
            <a class="footer-logo" href="#"><svg width="73" height="57" class=""><use href="./img/Icons/sprite.svg#icon-logo" ></use></svg></a>
            <div class="footer-box-navigation-type">
                <div class="footer-box-navigation">
                <h4 class="footer-title footer-title-navigation">Navigation</h4>
                    <nav>
                        <ul class="footer-text-ul"> 
                            <li ><a class="footer-text" href="#">Anemone</a></li>
                            <li ><a class="footer-text" href="#">About us</a></li>
                            <li ><a class="footer-text" href="#">Store</a></li>
                            <li ><a class="footer-text" href="#">Delivery</a></li>
                        </ul>
                    </nav>
                </div>
               
                <div class="footer-box-times">
                    <h4 class="footer-title">Opening times</h4>
                    <p class="footer-text">Every day 9:00 - 22:00</p>
                </div>
            </div> 
        </div>
        <div class="footer-box-contacts-icon">
            <div class="footer-box-contacts">
                <h4 class="footer-title">Contacts</h4>
                <ul class="footer-text-ul">
                    <li ><a href="tel:+380631234567" class="footer-text">+38 063 123 45 67</a></li>
                    <li ><a href="mailto:anemonestudio@example.com" class="footer-text footer-text-email">anemonestudio<span>@example.com</span></a></li>
                    <li><address><a href="#"  class="footer-text footer-text-adress">Reitarska Street, 11 Kyiv, Ukraine</a></address></li>
                </ul>
            </div>
            <div class="footer-box-icons">
                <a href="#" class="footer-icon-link"><svg class="footer-icon" width="28" height="28"><use href="./img/Icons/sprite.svg#icon-facebook"></use></svg></a>
                <a href="#" class="footer-icon-link"><svg class="footer-icon" width="28" height="28"><use href="./img/Icons/sprite.svg#icon-instagram-footer"></use></svg></a>        
            </div>        
        </div>
    </div>
 </footer>