<header class="page-header">
  <div class="container header">
      <a class="logo" href="">
        <svg class="logo-img" width="72" height="57">
          <use href="../img/Icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    <nav class="page-nav">
      <ul class="menu list">
        <li class="menu-item">
          <a href="" class="menu-link">Anemone</a>
        </li>
        <li class="menu-item">
          <a href="#about" class="menu-link">About us</a>
        </li>
        <li class="menu-item">
          <a href="#store" class="menu-link">Store</a>
        </li>
        <li class="menu-item">
          <a href="#delivery" class="menu-link">Delivery</a>
        </li>
        <li class="menu-item">
          <a href="#blog" class="menu-link" >Blog</a>
        </li>
      </ul>
    </nav>
    <a href="#" data-modal="contact-us" class="call js-open-modal">
      <svg class="call" width="22" height="22">
        <use href="../img/Icons/sprite.svg#icon-tel"></use>
      </svg>
    </a>
    <button type="button" class="mobile-menu-open menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu" id="menu-open"
    >
      <svg class="mobile-menu-open-icon"  width="24" height="24">
        <use href="../img/Icons/sprite.svg#icon-Burger"></use>
      </svg>
    </button>
  </div>

  <div class="menu-container js-menu-container">
    <div class="mobile-menu">
      <button class="mobile-menu-close-btn menu-toggle js-close-menu">
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="../img/Icons/sprite.svg#close-icon"></use>
        </svg>
      </button>
      <ul class="mobile-navigation list">
        <li class="menu-item">
          <a href="anemone" class="menu-link">Anemone</a>
        </li>
        <li class="menu-item">
          <a href="#about" class="menu-link">About us</a>
        </li>
        <li class="menu-item">
          <a href="#store" class="menu-link">Store</a>
        </li>
        <li class="menu-item">
          <a href="#delivery" class="menu-link">Delivery</a>
        </li>
        <li class="menu-item">
          <a href="#blog" class="menu-link">Blog</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal" data-modal="contact-us" >
    <svg class="modal__cross js-modal-close" width="24" height="24">
        <use href="../img/Icons/sprite.svg#icon-close"></use>
    </svg>
    <h3>Contact us</h3>
      <p>If you have any additional questions or you want to
        clarify something before you make an order please
        fill in your contact details. We will call you back. </p>
    <form>
      <label class="modal-form-field">
        <span class="modal-form-input-desc">Name*</span>
        <span class="modal-form-input-wrapper">
          <input
            type="text"
            name="user_name"
            class="modal-form-input"
            required
            pattern="[a-zA-Zа-яА-Я]+"
            minlength="2">
          </span>
      </label>
      <label class="modal-form-field">
        <span class="modal-form-input-desc">Email*</span>
        <span class="modal-form-input-wrapper">
          <input
            type="email"
            name="user_email"
            class="modal-form-input"
            required>
          </span>
      </label>
    </form>
    <button type="submit" class="modal-form-submit">
      <a href="#" data-modal="thank-you" class="thank-you js-open-modal">Send</a>
    </button>
  </div>
  
</header>
