<section class="hero" id="anemone">
  <div class="hero-container">
    <h1 class="hero-title" style="--shift-to-y: -355px">ANEMONE</h1>
    <p
      class="hero-badge"
      style="--shift-from-x: 0; --shift-to-x: -90px; --shift-to-y: 170px"
    >
      flower studio
    </p>
    <button
      class="hero-btn js-open-modal"
      data-modal="1"
      type="button"
      style="--shift-from-x: 0; --shift-to-x: 25px; --shift-to-y: 170px"
    >
      <svg class="hero-icon" width="166" height="166">
        <use href="./img/icons/sprite.svg#btn-txt"></use>
        <use href="./img/icons/sprite.svg#btn-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="hero-shape">
    <source
      srcset="
        ./img/hero/desk/hero_img_desk_3_1283px.jpg 1x,
        ./img/hero/desk/hero_img_desk_3_2566px.jpg 2x
      "
      type="image/jpg"
    />
    <img
      class="hero-img"
      src="./img/hero/desk/hero_img_desk_3_1283px.jpg"
      alt="Flower studio preview"
    />
  </div>
</section>

<section style="height: 100px"></section>
