<main>
  <section class="hero">
    <div class="hero-container">
      <h1 class="hero-title" style="--shift-to-y: -355px">ANEMONE</h1>
      <p
        class="hero-badge"
        style="--shift-from-x: 0; --shift-to-x: -90px; --shift-to-y: 170px"
      >
        flower studio
      </p>
      <button
        class="hero-btn"
        type="button"
        style="--shift-from-x: 0; --shift-to-x: 25px; --shift-to-y: 170px"
      >
        <svg width="166" height="166">
          <use href="#btn-txt"></use>
          <use href="#btn-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="hero-shape">
      <img
        class="hero-img"
        src="https://raw.githubusercontent.com/YK911/flower-studio-assets/main/hero-bg.jpg"
        alt="Flower studio preview"
      />
    </div>
  </section>
</main>
