<section class="hero" id="anemone">
  <div class="hero-container">
    <h1 class="hero-title" style="--shift-to-y: -355px">ANEMONE</h1>
    <p
      class="hero-badge"
      style="--shift-from-x: 0; --shift-to-x: -90px; --shift-to-y: 170px"
    >
      flower studio
    </p>
    <button
      class="hero-btn js-open-modal"
      data-modal="1"
      type="button"
      style="--shift-from-x: 0; --shift-to-x: 25px; --shift-to-y: 170px"
    >
      <svg class="hero-icon" width="166" height="166">
        <use href="./img/icons/sprite.svg#btn-txt"></use>
        <use href="./img/icons/sprite.svg#btn-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="hero-shape">
    <source
      srcset="
        ./img/hero/desk/hero_img_desk_3_1283px.jpg 1x,
        ./img/hero/desk/hero_img_desk_3_2566px.jpg 2x
      "
      type="image/jpg"
    />
    <img
      class="hero-img"
      src="./img/hero/desk/hero_img_desk_3_1283px.jpg"
      alt="Flower studio preview"
    />
  </div>
</section>

<section style="height: 100px"></section>

<!-- 
<div class="hero-shape">
    <img
      srcset="
        ./img/hero/mob/hero_img_mob_145px.webp       145w,
        ./img/hero/mob/hero_img_mob_290px.webp       290w,
        ./img/hero/tabl/hero_img_tabl_390px.webp     390w,
        ./img/hero/tabl/hero_img_tabl_780px.webp     780w,
        ./img/hero/desk/hero_img_desk_1_390px.webp   390w,
        ./img/hero/desk/hero_img_desk_1_780px.webp   780w,
        ./img/hero/desk/hero_img_desk_2_543px.webp   543w,
        ./img/hero/desk/hero_img_desk_2_1084px.webp 1084w,
        ./img/hero/desk/hero_img_desk_3_1283px.webp 1283w,
        ./img/hero/desk/hero_img_desk_3_2566px.webp 2566w
      "
      sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 136px, 100vw"
      alt="flowes"
      src="./img/hero/mob/hero_img_mob_290px.jpg"
    />
  </div>
</section> -->
