<section class="section section-store" id="store">
  <div class="container">
    <h3 class="title section-store-title">Store</h2>
    <ul class="store-list">
      <li class="store-item">
        <img
            class="store-img"
            srcset="
              ./img/store/store_img_mob_1_288px.webp  288w,
              ./img/store/store_img_mob_1_576px.webp  576w,
              ./img/store/store_img_tabl1_344px.webp 344w,
              ./img/store/store_img_tabl1_688px.webp 688w,
              ./img/store/store_img_deck_1_600px.webp 600w,
              ./img/store/store_img_deck_1_1200px.webp 1200w
            "
            sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 320px) 288px"
            alt="smallest bouquets"
            src="../img/store/store_img_mob_1_288px.jpg"
          />

        <h4 class="store-title">compliments</h3>
        <p class="store-desc">from $15</p>
      </li>
      <li class="store-item">
        <img
            class="store-img"
            srcset="
              ./img/store/store_img_mob_2_288px.webp  288w,
              ./img/store/store_img_mob_2_576px.webp  576w,
              ./img/store/store_img_tabl2_344px.webp 344w,
              ./img/store/store_img_tabl2_688px.webp 688w,
              ./img/store/store_img_deck_2_600px.webp 600w,
              ./img/store/store_img_deck_2_1200px.webp 1200w
            "
            sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 320px) 288px"
            alt="small bouquets"
            src="../img/store/store_img_mob_2_288px.jpg"
            />
        <h4 class="store-title">bouquets size S</h3>
        <p class="store-desc">from $25</p>
      </li>
      <li class="store-item">
        <img
            class="store-img"
            srcset="
              ./img/store/store_img_mob_3_288px.webp  288w,
              ./img/store/store_img_mob_3_576px.webp  576w,
              ./img/store/store_img_tabl3_344px.webp 344w,
              ./img/store/store_img_tabl3_688px.webp 688w,
              ./img/store/store_img_deck_3_600px.webp 600w,
              ./img/store/store_img_deck_3_1200px.webp 1200w
            "
            sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 320px) 288px"
            alt="medium bouquets"
            src="../img/store/store_img_mob_3_288px.jpg"
            />
     <h4 class="store-title">bouquets size M</h3>
        <p class="store-desc">from $45</p>
      </li>
      <li class="store-item">
       <img
            class="store-img"
            srcset="
              ./img/store/store_img_mob_4_288px.webp  288w,
              ./img/store/store_img_mob_4_576px.webp  576w,
              ./img/store/store_img_tabl4_344px.webp 344w,
              ./img/store/store_img_tabl4_688px.webp 688w,
              ./img/store/store_img_deck_4_600px.webp 600w,
              ./img/store/store_img_deck_4_1200px.webp 1200w
            "
            sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 320px) 288px"
            alt="large bouquets"
            src="../img/store/store_img_mob_4_288px.jpg"
            />
        <h3 class="store-title">bouquets size L</h3>
        <p class="store-desc">from $60</p>
      </li>
    </ul>
    <button class="store-btn js-open-modal" data-modal="1" type="button">Order flowers</button>
  </div>
</section>
