<section class="section section-store">
  <div class="container">
    <h2 class="title section-store-title">Store</h2>
    <ul class="store-list">
      <li class="store-item">
        <picture class="store-img">
          <source
            srcset="
              ../img/store/store_img_deck_1_600px.webp  1x,
              ../img/store/store_img_deck_1_1200px.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_deck_1_600px.jpg  1x,
              ../img/store/store_img_deck_1_1200px.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/store/store_img_tabl1_344px.webp 1x,
              ../img/store/store_img_tabl1_688px.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_tabl1_344px.jpg 1x,
              ../img/store/store_img_tabl1_688px.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/store/store_img_mob_1_288px.webp 1x,
              ../img/store/store_img_mob_1_576px.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_mob_1_288px.jpg 1x,
              ../img/store/store_img_mob_1_576px.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../img/store/store_img_deck_1_1200px.jpg"
            alt="smallest bouquets"
          />
        </picture>
        <h3 class="store-title">compliments</h3>
        <p class="store-desc">from $15</p>
      </li>
      <li class="store-item">
        <picture class="store-img">
          <source
            srcset="
              ../img/store/store_img_deck_2_600px.webp  1x,
              ../img/store/store_img_deck_2_1200px.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_deck_2_600px.jpg  1x,
              ../img/store/store_img_deck_2_1200px.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/store/store_img_tabl2_344px.webp 1x,
              ../img/store/store_img_tabl2_688px.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_tabl2_344px.jpg 1x,
              ../img/store/store_img_tabl2_688px.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/store/store_img_mob_2_288px.webp 1x,
              ../img/store/store_img_mob_2_576px.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_mob_2_288px.jpg 1x,
              ../img/store/store_img_mob_2_576px.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../img/store/store_img_deck_2_1200px.jpg"
            alt="smallest bouquets"
          />
        </picture>
        <h3 class="store-title">bouquets size S</h3>
        <p class="store-desc">from $25</p>
      </li>
      <li class="store-item">
        <picture class="store-img">
          <source
            srcset="
              ../img/store/store_img_deck_3_600px.webp  1x,
              ../img/store/store_img_deck_3_1200px.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_deck_3_600px.jpg  1x,
              ../img/store/store_img_deck_3_1200px.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/store/store_img_tabl3_344px.webp 1x,
              ../img/store/store_img_tabl3_688px.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_tabl3_344px.jpg 1x,
              ../img/store/store_img_tabl3_688px.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/store/store_img_mob_3_288px.webp 1x,
              ../img/store/store_img_mob_3_576px.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_mob_3_288px.jpg 1x,
              ../img/store/store_img_mob_3_576px.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../img/store/store_img_deck_3_1200px.jpg"
            alt="smallest bouquets"
          />
        </picture>
        <h3 class="store-title">bouquets size M</h3>
        <p class="store-desc">from $45</p>
      </li>
      <li class="store-item">
        <picture class="store-img">
          <source
            srcset="
              ../img/store/store_img_deck_4_600px.webp  1x,
              ../img/store/store_img_deck_4_1200px.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_deck_4_600px.jpg  1x,
              ../img/store/store_img_deck_4_1200px.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/store/store_img_tabl4_344px.webp 1x,
              ../img/store/store_img_tabl4_688px.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_tabl4_344px.jpg 1x,
              ../img/store/store_img_tabl4_688px.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/store/store_img_mob_4_288px.webp 1x,
              ../img/store/store_img_mob_4_576px.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/store/store_img_mob_4_288px.jpg 1x,
              ../img/store/store_img_mob_4_576px.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="../img/store/store_img_deck_4_1200px.jpg"
            alt="smallest bouquets"
          />
        </picture>
        <h3 class="store-title">bouquets size L</h3>
        <p class="store-desc">from $60</p>
      </li>
    </ul>
    <button class="store-btn" type="button">Order flowers</button>
  </div>
</section>
