.container {
    min-width: 320px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    padding-left: 16px;
    padding-right: 16px;

    /* outline: 2px solid red;
      outline-offset: -2px; */
  }

  @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;

        padding-left: 24px;
        padding-right: 24px;
    }
  }

  @media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
  }