.title {
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    line-height: 1.3;
}

.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border: 1px solid var(--dark-cl);
    position: relative;
}

.title:after {
    margin-right: -100%;
    right: -14px;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 44px;
    }

    .title:after {
        right: -16px;
    }
  }

.section {
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .section {
        margin-bottom: 100px;
    }
  }